body {
    font-size: calc(16px + (16 - 8) * ((100vw - 320px) / (1200 - 320)));
    text-align: center;
}
header {
    display: grid;
    grid-template-columns:repeat(1 ,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-bottom: 20px;
}
header div:hover {
    background-color: rgba(71, 46, 46, 0.5);
    transition: 0.5s;
}
header div { 
    line-height: 50px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: rgba(71, 46, 46, 0.24);
}
header div a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}



section {
    font-weight: bold;
}
#name {
    font-size: calc(30px + (16 - 8) * ((100vw - 320px) / (1200 - 320)));
}

article {
    margin-left: 5%;
    margin-right: 5%;
}



/* EXAMPLE START : */

.a, .b, .c { 
    margin: 10px ; 
    border-radius: 10px;
    background-color: rgba(189, 83, 83, 0.281);
    border: 3px solid rgb(0, 0, 0);
}
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.grid-table {
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    ". a"
    "b b"
    "c ."
    ;
}



.flex-element div {
    background-color: rgb(165, 124, 155);
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    border: 1px solid black;
}



.flex-element {
    display: flex;
    background-color: rgba(0, 0, 0, 0.185);
    margin: 2%;
    border-radius: 10px;
}
.column {
    flex-direction: column;
    align-items: center
}
.space-evenly {
    justify-content: space-evenly;
}



.flex-element div:first-child {
    color: rgb(59, 31, 31);
}
.flex-element div:last-child {
    color: rgb(43, 88, 57);
}



.flex-element div:hover {
    padding: 4%;
    transition: 0.7s;
}

/* EXAMPLE END : */



footer {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 8px rgb(218, 60, 60);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}



@media screen and (min-width: 768px) {
    header {
        grid-template-columns:repeat(2 ,1fr);
        padding-bottom: 50px;
    }
    footer {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .grid-table {
        min-height: 700px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        ". a a"
        "b b ."
        ". c c"
        ". c c"
        ;
    }
}

@media screen and (min-width: 1200px) {
    header {
        grid-template-columns:repeat(4 ,1fr);
    }
    footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .grid-table {
        min-height: 900px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        ". . a a"
        "b b a a"
        "b b . ."
        ". c c c"
        ". c c c"
        ;
    }
}