body {
    font-size: calc(16px + (16 - 8) * ((100vw - 320px) / (1200 - 320)));
    color: rgb(0, 0, 0);
    text-align: center;
}
header {
    display: grid;
    grid-template-columns:repeat(1 ,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
header div:hover {
    background-color: rgba(71, 46, 46, 0.5);
    transition: 0.5s;
}
header div { 
    line-height: 50px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: rgba(71, 46, 46, 0.24);
}
header div a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}





main article div {
    padding: 20px;
}





footer {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 8px rgb(218, 60, 60);
    text-align: center;
}













@media screen and (min-width: 768px) {
    header {
        grid-template-columns:repeat(2 ,1fr);
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        grid-template-columns:repeat(4 ,1fr);
    }
}