body {
    text-align: center;
}

div {
    line-height: 50px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: rgba(71, 46, 46, 0.24);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 26px;
}

a:hover {
    background-color: rgba(71, 46, 46, 0.5);
    transition: 0.5s;
}

div {
    display: grid;
    grid-template-columns:repeat(1 ,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}







